* {
    font-size: 15px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}

a:link {
  background-color: yellow;
}

a:visited {
  background-color: cyan;
}

a:hover {
  background-color: lightgreen;
}

a:active {
  background-color: hotpink;
} 

#top {
    width: 100%;
    top: 0px;
    position: fixed;
}
