<!DOCTYPE html>
<html>

<head>
    <!-- <link rel='icon' type='image/jpg' href={{album_art_thumbnail}}> -->
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles/styles.css') }}">
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <title>Cool Beans</title>
    <!-- <base target="_blank" rel="noopener noreferrer"> -->
</head>

<body>
    <div id='top'>
        <table id="dataTable" style="text-align: left;float: right">
            <tr>
                <th> <!--  style="vertical-align: top"> -->
                    Track: <br>
                    Album: <br>
                    Artist:
                </th>
                <td> <!--  style="vertical-align: top"> -->
                    <div id='song'></div>
                    <div id='album'></div>
                    <div id='artist'></div>
                </td>
                <td>
                    <div id='albumart'></div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <span id='feedback'></span>
                    <a class='buttonYes' id='feedbackButtonYes' href="javascript:confirmLyrics(true)">Yes</a>
                    <a class='buttonNo' id='feedbackButtonNo' href="javascript:confirmLyrics(false)">No</a>

                    <form id="lyricForm" action="{{url_for('lyrics_post')}}" method="POST">
                        <textarea name="lyrics" placeholder="Please paste lyrics here."></textarea>
                        <input type="submit">
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <div id='lyrics'></div><br>
    <div id='lyricsurl'></div><br>

    <script>
        var currentSong;
        var previousSong = "nothing";

        (function(){
            $.getJSON(
                $SCRIPT_ROOT+"/_get_music_data",
                function(data) {

                    currentSong = data.songlink;

                    // If the current song is not the database, hide unnecessary features
                    if (data.songname == '' && data.lyrics.startsWith('Adding')) {
                        setVisibility('dataTable', "none");
                        setVisibility('lyricsurl', "none");
                        document.title = "Cool Beans"
                    } else {
                        setVisibility('dataTable', "initial");
                        setVisibility('lyricsurl', "initial");
                    }

                    if (currentSong != previousSong) {
                        feedbackText(false, null);
                        previousSong = currentSong;
                        $("#song").html(data.songlink)
                        $("#album").html(data.albumlink)
                        $("#artist").html(data.artistlinks)
                        $("#lyrics").html(data.lyrics)
                        $("#lyricsurl").html(data.lyricsurl)
                        $("#albumart").html(data.albumartimage)
                        document.title = data.songname + " by " + data.artist;
                    }
                }
            );
            setTimeout(arguments.callee, 2000);
        })();

        function feedbackText(feedbackGiven, areCorrect) {
            if (feedbackGiven) {
                // Hide the buttons
                setVisibility('feedbackButtonYes', 'none');
                setVisibility('feedbackButtonNo', 'none');

                // stop feedback text moving
                // document.getElementById("feedback").style.paddingTop = "100.35em";

                // Change feedback text
                if (areCorrect) {
                    $('#feedback').text("Thanks for your feedback!");
                } else {
                    $('#feedback').html("Thanks for your feedback! Please input the<br>correct lyrics into the box below.<br>");

                    // Show lyrics input box
                    setVisibility('lyricForm', 'initial');
                }
            } else {
                // Show the buttons
                setVisibility('feedbackButtonYes', "initial");
                setVisibility('feedbackButtonNo', "initial");

                // Hide lyrics input
                setVisibility('lyricForm', 'none');

                $('#feedback').text("Are these lyrics correct?");
            }
        }

        function confirmLyrics(areCorrect) {
            if (areCorrect) {
                console.log("The lyrics are correct.");
            } else {
                console.log("The lyrics are incorrect.");
            }

            // Update feedback text
            feedbackText(true, areCorrect);
        }

        function setVisibility(id, display) {
            document.getElementById(id).style.display = display;
        }
    </script>
</body>

</html>
