<!DOCTYPE html>
<html>
    <head>
        <link rel='icon' type='image/jpg' href={{album_art_thumbnail}}>
        <title>Now playing: {{song_name}} by {{song_artist}}</title>
    </head>
    <body>
        <p style='float:inline-start'>{{lyrics|safe}}</p>
        <table style='text-align: left;float:inline-end'>
            <tr>
                <th>
                    Track: <br>
                    Artist: <br>
                    Album: 
                </th>
                <td>
                    <a href='https://open.spotify.com/track/{{songid}}'>{{song_name}}</a> <br>
                    <a href='https://open.spotify.com/album/{{albumid}}'>{{song_album}}</a> <br>
                    <a href='https://open.spotify.com/artist/{{artistid}}'>{{song_artist}}</a>
                </td>
                <td>
                    <img src={{album_art}} />
                </td>
            </tr>
        </table>
    </body>
</html>
